In [33]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [34]:
df=pd.read_csv('pre_release_movie_revenue_dataset_2decimals.csv')
df

,budget,genre,director_popularity,cast_popularity,release_month,marketing_spend,trailer_views,revenue
0,115.49,Romance,5.67,5.80,2.0,23.29,152364308.0,487.27
1,285.46,Horror,1.46,2.24,11.0,124.10,75338260.0,890.97
2,220.94,Drama,3.10,6.32,6.0,110.92,32100702.0,917.49
3,181.60,Horror,5.43,3.83,4.0,80.45,18986265.0,837.88
4,51.03,Action,3.79,1.47,5.0,5.83,106849533.0,285.55
...,...,...,...,...,...,...,...,...
5495,103.46,Horror,4.24,4.89,10.0,110.40,49352860.0,801.37
5496,175.90,Romance,9.34,4.04,3.0,2.79,89689092.0,489.06
5497,267.26,Drama,7.29,2.10,9.0,24.47,69140456.0,661.16
5498,172.94,Horror,3.31,3.67,10.0,5.01,141788430.0,635.24
5499,191.36,Comedy,6.08,8.98,8.0,148.95,166466577.0,991.68

In [35]:
df.head()

,budget,genre,director_popularity,cast_popularity,release_month,marketing_spend,trailer_views,revenue
0,115.49,Romance,5.67,5.80,2.0,23.29,152364308.0,487.27
1,285.46,Horror,1.46,2.24,11.0,124.10,75338260.0,890.97
2,220.94,Drama,3.10,6.32,6.0,110.92,32100702.0,917.49
3,181.60,Horror,5.43,3.83,4.0,80.45,18986265.0,837.88
4,51.03,Action,3.79,1.47,5.0,5.83,106849533.0,285.55

In [36]:
df.tail()

,budget,genre,director_popularity,cast_popularity,release_month,marketing_spend,trailer_views,revenue
5495,103.46,Horror,4.24,4.89,10.0,110.40,49352860.0,801.37
5496,175.90,Romance,9.34,4.04,3.0,2.79,89689092.0,489.06
5497,267.26,Drama,7.29,2.10,9.0,24.47,69140456.0,661.16
5498,172.94,Horror,3.31,3.67,10.0,5.01,141788430.0,635.24
5499,191.36,Comedy,6.08,8.98,8.0,148.95,166466577.0,991.68

In [37]:
df.columns

Index(['budget', 'genre', 'director_popularity', 'cast_popularity',
       'release_month', 'marketing_spend', 'trailer_views', 'revenue'],
      dtype='object')

In [38]:
df.dtypes

budget                 float64
genre                   object
director_popularity    float64
cast_popularity        float64
release_month          float64
marketing_spend        float64
trailer_views          float64
revenue                float64
dtype: object

In [39]:
df.isna().sum()

budget                 0
genre                  0
director_popularity    0
cast_popularity        0
release_month          0
marketing_spend        0
trailer_views          0
revenue                0
dtype: int64

In [40]:
dum=pd.get_dummies(df[['genre']],drop_first=True,dtype=int)#Encoded
dum

,genre_Comedy,genre_Drama,genre_Horror,genre_Romance,genre_Sci-Fi,genre_Thriller
0,0,0,0,1,0,0
1,0,0,1,0,0,0
2,0,1,0,0,0,0
3,0,0,1,0,0,0
4,0,0,0,0,0,0
...,...,...,...,...,...,...
5495,0,0,1,0,0,0
5496,0,0,0,1,0,0
5497,0,1,0,0,0,0
5498,0,0,1,0,0,0
5499,1,0,0,0,0,0

In [41]:
df=pd.concat([df,dum],axis=1)
df

,budget,genre,director_popularity,cast_popularity,release_month,marketing_spend,trailer_views,revenue,genre_Comedy,genre_Drama,genre_Horror,genre_Romance,genre_Sci-Fi,genre_Thriller
0,115.49,Romance,5.67,5.80,2.0,23.29,152364308.0,487.27,0,0,0,1,0,0
1,285.46,Horror,1.46,2.24,11.0,124.10,75338260.0,890.97,0,0,1,0,0,0
2,220.94,Drama,3.10,6.32,6.0,110.92,32100702.0,917.49,0,1,0,0,0,0
3,181.60,Horror,5.43,3.83,4.0,80.45,18986265.0,837.88,0,0,1,0,0,0
4,51.03,Action,3.79,1.47,5.0,5.83,106849533.0,285.55,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5495,103.46,Horror,4.24,4.89,10.0,110.40,49352860.0,801.37,0,0,1,0,0,0
5496,175.90,Romance,9.34,4.04,3.0,2.79,89689092.0,489.06,0,0,0,1,0,0
5497,267.26,Drama,7.29,2.10,9.0,24.47,69140456.0,661.16,0,1,0,0,0,0
5498,172.94,Horror,3.31,3.67,10.0,5.01,141788430.0,635.24,0,0,1,0,0,0
5499,191.36,Comedy,6.08,8.98,8.0,148.95,166466577.0,991.68,1,0,0,0,0,0

In [42]:
df.drop(['genre'],axis=1,inplace=True)
df

,budget,director_popularity,cast_popularity,release_month,marketing_spend,trailer_views,revenue,genre_Comedy,genre_Drama,genre_Horror,genre_Romance,genre_Sci-Fi,genre_Thriller
0,115.49,5.67,5.80,2.0,23.29,152364308.0,487.27,0,0,0,1,0,0
1,285.46,1.46,2.24,11.0,124.10,75338260.0,890.97,0,0,1,0,0,0
2,220.94,3.10,6.32,6.0,110.92,32100702.0,917.49,0,1,0,0,0,0
3,181.60,5.43,3.83,4.0,80.45,18986265.0,837.88,0,0,1,0,0,0
4,51.03,3.79,1.47,5.0,5.83,106849533.0,285.55,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5495,103.46,4.24,4.89,10.0,110.40,49352860.0,801.37,0,0,1,0,0,0
5496,175.90,9.34,4.04,3.0,2.79,89689092.0,489.06,0,0,0,1,0,0
5497,267.26,7.29,2.10,9.0,24.47,69140456.0,661.16,0,1,0,0,0,0
5498,172.94,3.31,3.67,10.0,5.01,141788430.0,635.24,0,0,1,0,0,0
5499,191.36,6.08,8.98,8.0,148.95,166466577.0,991.68,1,0,0,0,0,0

In [43]:
y = df['revenue']
y

0       487.27
1       890.97
2       917.49
3       837.88
4       285.55
         ...
5495    801.37
5496    489.06
5497    661.16
5498    635.24
5499    991.68
Name: revenue, Length: 5500, dtype: float64

In [44]:
x=df.drop(['revenue'],axis=1)
x

,budget,director_popularity,cast_popularity,release_month,marketing_spend,trailer_views,genre_Comedy,genre_Drama,genre_Horror,genre_Romance,genre_Sci-Fi,genre_Thriller
0,115.49,5.67,5.80,2.0,23.29,152364308.0,0,0,0,1,0,0
1,285.46,1.46,2.24,11.0,124.10,75338260.0,0,0,1,0,0,0
2,220.94,3.10,6.32,6.0,110.92,32100702.0,0,1,0,0,0,0
3,181.60,5.43,3.83,4.0,80.45,18986265.0,0,0,1,0,0,0
4,51.03,3.79,1.47,5.0,5.83,106849533.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5495,103.46,4.24,4.89,10.0,110.40,49352860.0,0,0,1,0,0,0
5496,175.90,9.34,4.04,3.0,2.79,89689092.0,0,0,0,1,0,0
5497,267.26,7.29,2.10,9.0,24.47,69140456.0,0,1,0,0,0,0
5498,172.94,3.31,3.67,10.0,5.01,141788430.0,0,0,1,0,0,0
5499,191.36,6.08,8.98,8.0,148.95,166466577.0,1,0,0,0,0,0

In [45]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)
x_train

,budget,director_popularity,cast_popularity,release_month,marketing_spend,trailer_views,genre_Comedy,genre_Drama,genre_Horror,genre_Romance,genre_Sci-Fi,genre_Thriller
206,34.93,9.06,7.99,3.0,35.92,87161109.0,0,0,1,0,0,0
2177,194.65,9.68,4.77,4.0,107.59,114107735.0,0,1,0,0,0,0
4696,154.13,7.46,8.67,11.0,8.48,19482561.0,0,0,0,0,0,0
3789,294.27,2.99,9.33,8.0,67.64,165005987.0,0,1,0,0,0,0
648,237.81,6.63,1.15,1.0,127.82,48692576.0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4931,105.93,1.75,3.94,4.0,54.69,194348024.0,0,0,0,0,1,0
3264,238.86,2.48,7.57,5.0,41.36,47508019.0,0,0,0,0,0,0
1653,111.24,9.01,5.10,9.0,30.86,45957153.0,1,0,0,0,0,0
2607,86.47,5.45,7.15,1.0,30.29,108197705.0,0,0,1,0,0,0
2732,22.06,8.17,9.61,2.0,90.32,176313948.0,0,0,0,1,0,0

In [46]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=200,random_state=42)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred

array([639.0509 , 496.87295, 878.3003 , ..., 825.3795 , 586.7075 ,
       296.4785 ], shape=(1650,))

In [47]:
df1=pd.DataFrame({'Actual Value':y_test,"predicted value":y_pred,"Diff": y_test-y_pred})
df1

      Actual Value  predicted value       Diff
1433        793.54        639.05090  154.48910
861         514.95        496.87295   18.07705
4944        855.91        878.30030  -22.39030
3567       1144.61       1037.34535  107.26465
15          979.11        841.95625  137.15375
...            ...              ...        ...
88          969.75       1032.93325  -63.18325
5110       1293.30       1208.99955   84.30045
2592        828.68        825.37950    3.30050
1489        562.76        586.70750  -23.94750
3217        295.82        296.47850   -0.65850

[1650 rows x 3 columns]

In [48]:
from sklearn.metrics import mean_absolute_percentage_error
mape=mean_absolute_percentage_error(y_test,y_pred)
mape

0.07821347461739583

In [49]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)
score*100

92.48486298452195

In [50]:
import joblib

In [51]:
joblib.dump(model, 'linear_model.pkl')
joblib.dump(x.columns.tolist(), 'feature_columns.pkl')

['feature_columns.pkl']